<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Rental app</span>
    <div *ngIf="$isLogged() | async; else notLogged">
      <span routerLink="api/rentals/all" class="link">Rentals</span>
      <span routerLink="api/auth/me" class="link">Account</span>
      <span (click)="logout()" class="link">Logout</span>
    </div>
    <ng-template #notLogged>
      <div>
        <span routerLink="api/auth/login" class="link">Login</span>
        <span routerLink="api/auth/register" class="link">Register</span>
      </div>
    </ng-template>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
